body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;

}

.app-container {
  display: flex;
  height: 100%;
  width: 100vw;
}

.sidebar {
  
  color: #fff;
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
}

.content {
  margin-left: 250px;
  padding: 20px;
  background-color: #f0f0f0;
  flex-grow: 1;
}


.container-fluid {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}





