

/* App.css */
body {
  font-family: 'Oswald', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  transition: margin-left 0.3s ease-in-out;
  overflow-y: auto;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  margin-top: 60px; /* Match navbar height */
}

@media (min-width: 992px) {
  .content {
    margin-left: 250px; /* Match sidebar width */
    width: calc(100% - 250px);
  }
}