.app-container {
  display: flex;
  width:100vw;
}

.content {
  margin-left: 250px;
  padding: 20px;
  flex-grow: 1;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-3 p{
  color: #ffffff;
}

.fs-2{
  color: #fff;
}

/*.navbar {
  position: fixed;
  width: calc(100% - 250px);
  left: 250px;
  top: 0;
  z-index: 1001;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}*/

.card {
  margin-bottom: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.app-container {
  display: flex;
}

.content {
  margin-left: 250px;
  padding: 20px;
  flex-grow: 1;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*.navbar {
  position: fixed;
  width: calc(100% - 250px);
  left: 250px;
  top: 0;
  z-index: 1001;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}*/

.card {
  margin-bottom: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

@media (max-width: 992px) {
  .app-container {
    flex-direction: column;
  }

  .content {
    margin-left: 0;
    padding: 10px;
  }

  /*.navbar {
    width: 100%;
    left: 0;
  }*/
}


