


   /* src/TransactionsPage.css */

.transactions-page {
  padding: 20px;
  background-color: #f8f9fa;
}

.transactions-page h2 {
  margin-bottom: 20px;
  color: #343a40;
}

.controls {
  margin-bottom: 20px;
}

.controls input {
  padding: 10px;
  width: 100%;
  margin-right: 10px;
  margin-bottom: 20px;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #fff;
}

table th, table td {
  border: 1px solid #dee2e6;
  padding: 10px;
  text-align: left;
  white-space: nowrap;
}

table th {
  background-color: #f4f4f4;
}

.button-group {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.button-group button {
  padding: 10px 20px;
  background-color: #525e6c; 
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  max-width: 400px;
  margin-right: 10vw;
}

.button-group button:hover {
  background-color: #4c98ea;
}

/* custom-alert.css */
.custom-swal {
  max-width: 300px !important;
  padding: 10px !important;
}

.custom-swal .swal2-title {
  font-size: 18px !important;
}

.custom-swal .swal2-content {
  font-size: 14px !important;
}

.custom-swal .swal2-actions {
  justify-content: center !important;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .transactions-page {
    padding: 10px;
  }

  .table-responsive {
    margin-bottom: 15px;
  }

  table {
    font-size: 14px;
  }

  table th, table td {
    padding: 8px;
  }

  .button-group {
    flex-direction: column;
    align-items: stretch;
  }

  .button-group button {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.controls input {
  flex-grow: 1;
  margin-right: 10px;
}

.add-transaction-btn {
  padding: 5px 10px;
  font-size: 0.9rem;
}

@media screen and (max-width: 768px) {
  .controls {
    flex-direction: column;
    align-items: stretch;
  }

  .controls input {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .add-transaction-btn {
    align-self: flex-start;
  }
}