/* src/Dashboard.css */

.dashboard {
  padding-left:15vw;
}

.cards{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding-top: 28vw;
  padding-left: 30px;
  padding-right: 5vw;
}

.card {
  background-color: #fff;
  padding-right: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 250px;
  margin: 10px;
  text-align: center;
}

.card h3{
  font-size:medium;
  font-weight: 100;
}

.card p{
  font-size:2rem;
}

.charts {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.chart-container {
  flex: 1;
  min-width: 300px;
  margin: 10px;
}

.table-container {
  margin-top: 20px;
}

.table-container h3 {
  margin-bottom: 20px;
}

.controls {
  margin-bottom: 20px;
}

.controls input {
  padding: 10px;
  width: 100%;
  max-width: 300px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

table th {
  background-color: #f4f4f4;
}
