/* src/TransactionsPage.css */

.transactions-page {
  padding: 20px;
}

.transactions-page h2 {
  margin-bottom: 20px;
}

.controls {
  margin-bottom: 20px;
}

.controls input {
  padding: 10px;
  width: 100%;
  margin-right: 10px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th, table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

table th {
  background-color: #f4f4f4;
}

.button-group {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.button-group button {
  padding: 10px 20px;
  background-color: #525e6c; 
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  max-width: 400px;
  margin-right: 10vw;
}

.button-group button:hover {
  background-color: #4c98ea;
}
/* custom-alert.css */
.custom-swal {
  max-width: 300px !important; /* Adjust the width as needed */
  padding: 10px !important; /* Adjust padding as needed */
}

.custom-swal .swal2-title {
  font-size: 18px !important; /* Adjust title font size */
}

.custom-swal .swal2-content {
  font-size: 14px !important; /* Adjust content font size */
}

.custom-swal .swal2-actions {
  justify-content: center !important; /* Center the buttons */
}

.transactions-page {
  background-color: #f8f9fa;
  padding: 20px;
}

.transactions-page h2 {
  color: #343a40;
}

.transactions-page .table {
  background-color: #fff;
  border-collapse: collapse;
}

.transactions-page .table th,
.transactions-page .table td {
  border: 1px solid #dee2e6;
  padding: 8px;
  text-align: center;
}

.transactions-page .controls input {
  width: 100%;
  margin-bottom: 10px;
}

.transactions-page .button-group {
  display: flex;
  justify-content: flex-end;
}


  